#scrollUp {
    display: none; 
    position: fixed; 
    bottom: 60px;
    right: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #1e90ff; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}

#scrollUp:hover {
    background-color: #6495ed; 
}
