* {
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body {
    position: relative;
    min-height: 100%;
}
section#main {
    padding-bottom: 60px;
}
#scrollUp {
    display: none; 
    position: fixed; 
    bottom: 80px;
    right: 20px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #1e90ff; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px;
}

#scrollUp:hover {
    background-color: #6495ed; 
}

.comment {
    display: block;
    margin-bottom: 20px;
}
.send-message {
    position: relative;
    margin-top: 20px;
    margin-bottom: 80px;
}
.field-validation-error {
    color: red;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1e90ff;
}
.content {
    margin-top: 10px;
}
.features {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.list-features {
    position: relative;
    display: inline-block;
    margin-left: 20px;

}